<section>
    <div class="container">
      <a href="/admin" class="btn btn-success mt-5" style="margin-right: 50px; "> Back</a>
      <div class="row mt-1 mb-1">
       
       
      </div>
      <h1 style="font-family: 'Times New Roman', Times, serif;" class="text-center  text-light"><strong>Equipments</strong></h1>
      <table class="table mt-5" id="table_id">
  <thead>
    <tr>
 
   <th scope="col">S No:</th>
          <th scope="col">Name</th>
          <th scope="col">More</th>
        
       
     
    </tr>
  </thead>
  <tbody class="text-dark">
     
    <tr>

          <tr>
            <th scope="row">1</th>

            <td>Trimble R8S</td>
         
            <td><a href="/admin/Trimble" class="btn btn-success">View Details</a></td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Comnov 1</td>
         
            <td><a href="/admin/Comnov-A" class="btn btn-success">View Details</a></td>

          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Comnov 2</td>
       
            <td><a href="/admin/ComnovB" class="btn btn-success">View Details</a></td>

          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Comnov 3</td>
          
            <td><a href="/admin/ComnovC" class="btn btn-success">View Details</a></td>

          </tr>

           <tr>
            <th scope="row">5</th>
            <td>Geo Max Ts</td>
          
            <td><a href="/admin/GeoMaxTs" class="btn btn-success">View Details</a></td>

          </tr>

          <tr>
            <th scope="row">6</th>
            <td>Ts 02</td>
          
            <td><a href="/admin/TsB" class="btn btn-success">View Details</a></td>

          </tr>
     
      <tr>
            <th scope="row">7</th>
            <td>Topcorn 105</td>
          
            <td><a href="/admin/Topcorn" class="btn btn-success">View Details</a></td>

          </tr>
     
       <tr>
            <th scope="row">8</th>
            <td>Ts 07</td>
          
            <td><a href="/admin/TsA" class="btn btn-success">View Details</a></td>

          </tr>


            <tr>
            <th scope="row">9</th>
            <td>Auto Level 1</td>
          
            <td><a href="/admin/AutoA" class="btn btn-success">View Details</a></td>

          </tr>

            <tr>
            <th scope="row">10</th>
            <td>Auto Level 2</td>
          
            <td><a href="/admin/AutoB" class="btn btn-success">View Details</a></td>

          </tr>
     
    </tr>

  </tbody>
</table> 
    </div>

</section>


<script>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>