<div class="container mt-5 align-center">

<h1 class="text-dark" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Welcome Managers,</h1>



 <a href="/admin/abdu" class="btn btn-light mt-5" style="width: 100%; ">Abdu</a>
  <a href="/admin/kadher" class="btn btn-light mt-5" style="width: 100%; ">Abdul Kadher A.A</a>
   <a href="/admin/sudheesh" class="btn btn-light mt-5" style="width: 100%; ">Sudheesh</a>
      <a href="/admin/vibin" class="btn btn-light mt-5" style="width: 100%; ">Vipin</a>
    <a href="/admin/equipments" class="btn btn-light mt-5" style="width: 100%; ">Equipments</a>
     <a href="/admin/vehicle" class="btn btn-light mt-5" style="width: 100%; ">VEHICLE</a>
   


</div>