<section>
    <div class="container">
      <a href="/" class="btn btn-success mt-5" style="margin-right: 50px; "> Back</a>
      <div class="row mt-1 mb-1">
       
       
      </div>
      <h1 style="font-family: 'Times New Roman', Times, serif;" class="text-center  text-light"><strong>Equipments</strong></h1>
      <table class="table mt-5" id="table_ip">
  <thead>
    <tr>
 
   <th scope="col">S No:</th>
          <th scope="col">Name</th>
          <th scope="col">More</th>
          
       
     
    </tr>
  </thead>
  <tbody class="text-dark">
     
    <tr>

          <tr>
            <th scope="row">1</th>

            <td>Trimble R8S</td>
         
            <td><a href="/Trimble" class="btn btn-success">View Details</a></td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Comnov 1</td>
         
            <td><a href="/ComnovA" class="btn btn-success">View Details</a></td>

          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Comnov 2</td>
       
            <td><a href="/ComnovB" class="btn btn-success">View Details</a></td>

          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Comnov 3</td>
          
            <td><a href="/ComnovC" class="btn btn-success">View Details</a></td>

          </tr>

           <tr>
            <th scope="row">5</th>
            <td>Geo Max Ts</td>
          
            <td><a href="/GeoMaxTs" class="btn btn-success">View Details</a></td>

          </tr>

          <tr>
            <th scope="row">6</th>
            <td>Ts 02</td>
          
            <td><a href="/TsB" class="btn btn-success">View Details</a></td>

          </tr>
     
      <tr>
            <th scope="row">7</th>
            <td>Topcorn 105</td>
          
            <td><a href="/Topcorn" class="btn btn-success">View Details</a></td>

          </tr>
     
       <tr>
            <th scope="row">8</th>
            <td>Ts 01</td>
          
            <td><a href="/TsA" class="btn btn-success">View Details</a></td>

          </tr>


            <tr>
            <th scope="row">9</th>
            <td>Auto Level 1</td>
          
            <td><a href="/AutoA" class="btn btn-success">View Details</a></td>

          </tr>

            <tr>
            <th scope="row">10</th>
            <td>Auto Level 2</td>
          
            <td><a href="/AutoA" class="btn btn-success">View Details</a></td>

          </tr>
     
    </tr>

  </tbody>
</table> 
 

    </div>  

</section>

